@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200..800&display=swap');

:root {
  --button-color-1: #FAFAFA;
  --button-color-2: #C7B9A8;
  --button-color-1-active: #FDFDFD;
  --button-color-2-active: #E3DCD4;
  --button-color-1-deselected: #FAFAFA7F;
  --button-color-2-deselected: #C7B9A87F;
  --button-color-1-deselected-active: #FDFDFD7F;
  --button-color-2-deselected-active: #E3DCD47F;
}

.hidden {
  display: none !important;
}

@font-face {
	font-family: diamond-pearl;
	src: url("resources/font/pokemon-dp-pro.ttf");
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: diamond-pearl, "Gemunu Libre", sans-serif;
  font-weight: bold;
	color: #545454;
  font-size: 4.0vh;
	line-height: 0.9;
	text-shadow: 0.05em 0.05em 0em #BABABA;
  background: linear-gradient(to bottom, var(--color2) 2%, var(--color3) 3%, var(--color3) 97%, var(--color2) 98%);
  user-select: none;
}

button {
  font-family: diamond-pearl, "Gemunu Libre", sans-serif;
	color: #545454;
	text-shadow: 0.05em 0.05em 0em #BABABA;
	background: linear-gradient(to bottom, var(--button-color-1) 45%, var(--button-color-2) 55%);
  border: 0.1em solid #FBFBFB;
  outline: 0.1em solid #545454;
  outline-color: #545454;
	border-radius: 0.16em;
	padding: .12em .5em;
}

button:hover {
	border-color: red;
}

button:active {
	background: linear-gradient(to bottom, var(--button-color-1-active) 45%, var(--button-color-2-active) 55%);
}

#options-panel {
  display: flex;
  flex-direction: row;
  flex-direction: row;
  height: 1.8em;
  padding: 3vh 2vw 0 2vw;
  gap: 2vw;
}

#options-panel > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#navigation-buttons {
  flex: 2;
  gap: 2vw;
}

#streaks {
  flex: 1;
  gap: 3vw;
}

#option-buttons {
  flex: 2;
  gap: 2vw;
}

#option-buttons > * {
  cursor: pointer;
}

#options-panel > *:first-child {
  justify-content: start;
}

#options-panel > *:last-child {
  justify-content: end;
}

#option-buttons > * {
  width: min(7.5vw, 6vh);
  aspect-ratio: 1 / 1;
}

#change-bg-button {
  width: min(5.625vw, 4.5vh);
  background-color: var(--color1);
  border: min(0.95vw, 0.75vh) solid black;
  border-radius: 0.1em;
}

#medium-options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.region-button {
  font-size: clamp(0.12em, 3.33vw, 0.56em);
}

#menu, #game-screen {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2vw 3vh 2vw;
}

#menu {
  justify-content: space-evenly;
}

#game-screen {
  justify-content: space-around;
}

#play-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (orientation:landscape) {
  #play-buttons {
    flex-direction: row;
    gap: 8vw;
  }
}

@media screen and (orientation:portrait) {
  #play-buttons {
    flex-direction: column;
    gap: 8vh;
  }
}

#play-buttons > *, .region-button {
	color: #FFFFFF;
	text-shadow:
    -0.056569em -0.056569em 0 #545454,
    0 -0.08em 0 #545454,
    0.056569em -0.056569em 0 #545454,
    0.08em 0 0 #545454,
    0.056569em 0.056569em 0 #545454,
    0 0.08em 0 #545454,
    -0.056569em 0.056569em 0 #545454,
    -0.08em 0 0 #545454;
}

#play-buttons > *, #next-button, #streaks > * {
  font-size: 1.1em;
}

#navigation-buttons > * {
  font-size: min(3.75vw, 3vh);
}

#next-button:disabled {
	filter: opacity(50%);
}

#next-button:disabled:hover {
	border-color: #FBFBFB;
}

#next-button:disabled:active {
	background: linear-gradient(to bottom, var(--button-color-1) 45%, var(--button-color-2) 55%);
}

.region-button.deselected {
	background: linear-gradient(to bottom, var(--button-color-1-deselected) 45%, var(--button-color-2-deselected) 55%);
}

.region-button.deselected:active {
	background: linear-gradient(to bottom, var(--button-color-1-deselected-active) 45%, var(--button-color-2-deselected-active) 55%);
}

.side {
  display: flex;
  flex-direction: column;
  border: 0.122em solid #545454;
}

.title {
	font-weight: 300;
  font-size: 0.62em;
	background: linear-gradient(
		to bottom,
		#E2E2E2 59%,
		#BABABA 61%,
		#BABABA 65%,
		#E2E2E2 67%,
		#E2E2E2 71%,
		#BABABA 73%
  );
  padding: 0.12em 0.42em;
  border: 0 solid #545454;
  border-bottom-width: 0.09em;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	background-color: rgba(255, 255, 255, 0.5);
}

#opponent-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.26em;
  padding: min(1vw, 0.5vh);
}

#opponent-types {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.09em;
}

#opponent-type-1, #opponent-type-2 {
  width: 1.1em;
  aspect-ratio: auto;
}

#opponent-image {
  width: min(40vw, 20vh);
  aspect-ratio: auto;
  padding: min(3vw, 1vh);
}

#message-container {
  display: flex;
  align-items: center;
  height: 4.6em;
}

#message {
  text-align: center;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

#attacking-types {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  padding: min(1.5vw, 0.5vh);
}

#attacking-types > * {
  width: min(12vw, 8vh);
  aspect-ratio: auto;
  cursor: pointer;
  border: min(2vw, 0.67vh) outset #646464;
  border-radius: 50%;
  background-color: #646464;
}

#attacking-types > *:active {
  border-style: inset;
}

#easy-button {
  --button-color-1: #54A225;
  --button-color-2: #4E6B42;
  --button-color-1-active: #AAD192;
  --button-color-2-active: #A7B5A1;
}

#medium-button {
  --button-color-1: #EB9B22;
  --button-color-2: #8C6A35;
  --button-color-1-active: #F5CD91;
  --button-color-2-active: #C6B59A;
}

#hard-button {
  --button-color-1: #FB4934;
  --button-color-2: #914940;
  --button-color-1-active: #FDA49A;
  --button-color-2-active: #C8A4A0;
}

#kanto-button {
  --button-color-1: #ed514e;
  --button-color-2: #914746;
  --button-color-1-active: #f6a8a7;
  --button-color-2-active: #cf9c9b;
}

#johto-button {
  --button-color-1: #2894d1;
  --button-color-2: #3f5772;
  --button-color-1-active: #94cbeb;
  --button-color-2-active: #b3c3d5;
}

#hoenn-button {
  --button-color-1: #7fc256;
  --button-color-2: #577047;
  --button-color-1-active: #c1e1ad;
  --button-color-2-active: #afc3a2;
}

#sinnoh-button {
  --button-color-1: #c37cd0;
  --button-color-2: #785f7c;
  --button-color-1-active: #ead2ef;
  --button-color-2-active: #b5a3b8;
}

#unova-button {
  --button-color-1: #636d92;
  --button-color-2: #3e4150;
  --button-color-1-active: #b0b6c9;
  --button-color-2-active: #979baf;
}

#kalos-button {
  --button-color-1: #ffb624;
  --button-color-2: #927334;
  --button-color-1-active: #ffda8f;
  --button-color-2-active: #d0b47c;
}

#alola-button {
  --button-color-1: #32009a;
  --button-color-2: #1b0c3b;
  --button-color-1-active: #854dff;
  --button-color-2-active: #7749da;
}



/* --- Checkbox --- */

/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 1.4em;
  font-size: clamp(0.18em, 4vw, 0.66em);
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.9em;
  height: 0.9em;

	background-color: #E3DCD4;
  border: 0.09em solid #545454;
	border-color: #545454;
	border-radius: 0.18em;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
	border-color: red;
}

/* On mouse-over, add a grey background color */
.checkbox-container:active input ~ .checkmark {
	background-color: #FAFAFA;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  top: 0.19em;
  left: 0.34em;
  width: 0.18em;
  height: 0.36em;
  border: solid #545454;
  border-width: 0 0.13em 0.13em 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 