#container {
  aspect-ratio: 1 / 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container * {
  position: absolute;
  box-sizing: border-box;
}



#outer-wheel {
 width: 67%;
 aspect-ratio: 1 / 1;
 animation: outer-wheel 11s linear infinite;
}

.arrow {
  width: 10%;
  height: 10%;
  clip-path: polygon(0 50%, 50% 0, 100% 0, 50% 50%, 100% 100%, 50% 100%);
  animation: outer-color-change 17s linear infinite;
}

.arrow:nth-of-type(1) {
  right: 4.645%;
  top: 4.645%;
  rotate: 45deg;
}
.arrow:nth-of-type(2) {
  right: -10%;
  top: 40%;
  rotate: 90deg;
}
.arrow:nth-of-type(3) {
  right: 4.645%;
  bottom: 4.645%;
  rotate: 135deg;
}
.arrow:nth-of-type(4) {
  left: 40%;
  bottom: -10%;
  rotate: 180deg;
}
.arrow:nth-of-type(5) {
  left: 4.645%;
  bottom: 4.645%;
  rotate: 225deg;
}
.arrow:nth-of-type(6) {
  left: -10%;
  top: 40%;
  rotate: 270deg;
}
.arrow:nth-of-type(7) {
  left: 4.645%;
  top: 4.645%;
  rotate: 315deg;
}
.arrow:nth-of-type(8) {
  left: 40%;
  top: -10%;
}



#inner-wheel {
  width: 50%;
  aspect-ratio: 1 / 1;
  animation: inner-wheel 5s linear infinite;
}

.shuriken {
  height: 20%;
  width: 20%;
  animation: spin 1.5s linear infinite;
  
  /* Removes unwanted outline around shape */
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    0% 100%);
}

.shuriken .middle {
  height: calc(100% / 3);
  width: calc(100% / 3);
  top: calc(100% / 3);
  left: calc(100% / 3);
  background-color: black;
  animation: inner-color-change 7s linear infinite;
}

.shuriken .point {
  background-color: black;
  animation: inner-color-change 7s linear infinite;
}

.shuriken .point.top, .shuriken .point.bottom {
  height: calc(100% / 3);
  width: calc(100% / 3);
}

.shuriken .point.right, .shuriken .point.left {
  height: calc(100% / 3);
  width: calc(100% / 3);
}

.shuriken .point.top {
  top: 0;
  left: calc(100% / 3);
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 0%);
}

.shuriken .point.right {
  top: calc(100% / 3);
  right: 0;
  clip-path: polygon(
    0% 100%,
    0% 0%,
    100% 0%);
}

.shuriken .point.bottom {
  bottom: 0;
  right: calc(100% / 3);
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%);
}

.shuriken .point.left {
  bottom: calc(100% / 3);
  left: 0;
    clip-path: polygon(
      100% 0%,
      100% 100%,
      0% 100%);
}

.shuriken:nth-of-type(1) {
  right: 4.645%;
  top: 4.645%;
}
.shuriken:nth-of-type(2) {
  right: -10%;
  top: 40%;
}
.shuriken:nth-of-type(3) {
  right: 4.645%;
  bottom: 4.645%;
}
.shuriken:nth-of-type(4) {
  left: 40%;
  bottom: -10%;
}
.shuriken:nth-of-type(5) {
  left: 4.645%;
  bottom: 4.645%;
}
.shuriken:nth-of-type(6) {
  left: -10%;
  top: 40%;
}
.shuriken:nth-of-type(7) {
  left: 4.645%;
  top: 4.645%;
}
.shuriken:nth-of-type(8) {
  left: 40%;
  top: -10%;
}



#ripple-circle {
  width: 33%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

#ripple-circle * {
  position: absolute;
  box-sizing: border-box;
}

.ring {
  aspect-ratio: 1 / 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  outline: 5px solid black;
  animation: ripple 3s linear infinite;
}

.ring:nth-of-type(1) {
  animation-delay: 0s;
}
.ring:nth-of-type(2) {
  animation-delay: -1s;
}
.ring:nth-of-type(3) {
  animation-delay: -2s;
}



@keyframes outer-wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes outer-color-change {
  0% {
    background-color: green;
  }
  16.67% {
    background-color: yellow;
  }
  33.33% {
    background-color: orange;
  }
  50% {
    background-color: red;
  }
  66.67% {
    background-color: purple;
  }
  83.33% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}



@keyframes inner-wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes inner-color-change {
  0% {
    background-color: red;
  }
  16.67% {
    background-color: orange;
  }
  33.33% {
    background-color: yellow;
  }
  50% {
    background-color: green;
  }
  66.67% {
    background-color: blue;
  }
  83.33% {
    background-color: purple;
  }
  100% {
    background-color: red;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



@keyframes ripple {
  0% {
    width: 0%;
  }
  80% {
    opacity: 100%;
  }
  100% {
    width: 100%;
    opacity: 0%;
  }
}
