@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Crete+Round&display=swap&family=Anton&family=Fugaz+One&family=Pixelify+Sans&family=Rubik+Moonrocks&family=Seaweed+Script&family=Tilt+Prism&display=swap&family=Pixelify+Sans:wght@400..700&display=swap&family=Playwrite+MX:wght@100..400&display=swap');


#main-buttons {
	display: flex;
	flex-direction: column;
	row-gap: 1.5em;
	margin-top: 1.67em;
	margin-top: 1.67em;
}

#main-buttons > * {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	row-gap: 0.5em;
}


#program-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 2em;
	row-gap: 1em;
	margin-top: 1.67em;
	margin-top: 1.67em;
}



#music-player-button {
  --bg-color-light: cyan;
	--bg-color-dark: blue;
	position: relative;
	font-size: 0.95em;
	padding: 0.75em;
	border-style: none;
	border-radius: 45%;
	background: linear-gradient(to bottom, var(--bg-color-dark), var(--bg-color-light));
	color: white;
	text-shadow: 0 -1px rgb(0, 0, 0, 0.8);
	box-shadow: 0px 0.05em 0.2em -0.1em rgb(0, 0, 0, 0.5);
}
#music-player-button::after {
	position: absolute;
	content: '';
	
	height: 60%;
	width: calc(100% - 1em);
	top: 0.04em;
	left: 0.5em;
	border-radius: 50%;
	background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
}
#music-player-button:hover {
	filter: hue-rotate(30deg);
}
#music-player-button:active {
	transform: translateY(0.1em);
}



#interval-timer-button {
	font-size: 0.9em;
	font-family: 'Crete Round', cursive;

	padding: 0.2em 1.2em;

	background: linear-gradient(to right, #78cf78 0%, #4ca34c 50%, #78cf78 50%, #4ca34c 100%);
	color: #1a3f34;

	border: 6px outset #4ca34c;

	text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.342);

	background-size: 200%;

	transition: background-position 0.5s;
}
#interval-timer-button:hover {
	background-position: right 100%;
}
#interval-timer-button:active {
	filter: brightness(80%);
}



#random-sentence-generator-button {
	font-family: 'Times New Roman', Times, serif;
	font-size: 0.9em;
	
	padding: 0.4em 2.6em;
	
	background-color: white;
	border-color: #505050;
	color: #505050;
	
	border-style: solid;
	border-width: 2px;
	
	transition: background-color 0.22s,
		color 0.22s,
		opacity 0.15s;
}
#random-sentence-generator-button:hover {
	background-color: #505050;
	color: white;
}
#random-sentence-generator-button:active {
	opacity: 0.7;
}



#cursor-dodge-button {
	font-size: 0.8em;
	font-family: 'Segoe UI', sans-serif;

	padding: 0.7em 0.2em;

	background-color: white;
	color: red;

	border-width: 0.5em 1px 1px 1px;
	border-style: solid;
	border-color: darkblue;
}
#cursor-dodge-button:hover {
	color: pink;
}
#cursor-dodge-button:active {
	border-color: blue;
}



#checkers-button {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.3em;
	
	height: 1.8em;
	padding: 0 1em;
	
	--check-color-1: #fdfdfd;
	--check-color-2: #c2c2c2;
	background-image:
      linear-gradient(45deg, var(--check-color-1) 25%, transparent 25%), 
      linear-gradient(135deg, var(--check-color-1) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, var(--check-color-1) 75%), 
      linear-gradient(135deg, transparent 75%, var(--check-color-1) 75%);
    background-size: 1.8em 1.8em;
    background-position:0 0, 0.9em 0, 0.9em -0.9em, 0 0.9em;
	background-color: var(--check-color-2);
	color: black;

	text-shadow: 0 0.1em 0.15em rgba(0, 0, 0, 0.33);
	
	border-style: none;
	border-radius: 1em;
}
#checkers-button:hover {
	--check-color-1: #c2c2c2;
	--check-color-2: #fdfdfd;
}
#checkers-button:active {
	transform: translateY(0.2em);
}



#pokemon-type-game-button {
	font-family: 'Agency FB', Tahoma, Verdana, Geneva, sans-serif;
	font-size: 1.1em;
	font-weight: bold;

	padding: 0.25em 0.7em;

	background: linear-gradient(to bottom, #EB9B22 45%, #8C6A35 55%);
	color: white;
	text-shadow: 0 0 0.05em #545454;

	border: 0.14em solid white;
	border-radius: 0.075em;

	outline: 0.15em solid #545454;
}
#pokemon-type-game-button:hover {
	border-color: red;
}
#pokemon-type-game-button:active {
	background: linear-gradient(to bottom, #F5CD91 45%, #C6B59A 55%);
}



#tilt-button {
	font-family: 'Fugaz One', cursive;
	font-size: 0.75em;

	padding: 0.9em 0.25em;

	--color-1:  #154853;
	--color-2: #99e040;
	background: linear-gradient(to right, var(--color-1), var(--color-2));
	color: white;

	border: 3px inset white;
	border-radius: 49%;
}
#tilt-button:hover {
	background: linear-gradient(to right, var(--color-2), var(--color-1));
}
#tilt-button:active {
	border-style: outset;
}



#dice-button {
	font-family: 'Bauhaus 93', 'Freestyle Script', 'Berlin Sans FB', 'Segoe Script', 'Arial', sans-serif;
	font-size: 1em;

	padding: 0.3em 0.7em;

	background-color: maroon;
	color: lightyellow;

	border: 0.15em solid black;
	border-radius: 5px;
}
#dice-button:hover {
	background-color: darkred;
}
#dice-button:active {
	background-color: indianred;
}



#mastermind-button {
	font-family: 'Rubik Moonrocks', cursive;
	font-size: 0.8em;

	padding: 0.32em 0.68em;

	background: radial-gradient(circle at 25% 15%, #c763db 0%, #ba56ce 10%, #963cb9 75%, #400f53 100%);
	color:rgba(255, 255, 255, 0.33);

	box-shadow: inset -0.2em -0.5em 1em 0 rgba(0, 0, 0, 0.33);

	border: 0.68em rgb(110, 110, 110) ridge;
	border-radius: 1.35em;
}
#mastermind-button:active {
	background: radial-gradient(circle at 75% 85%, #c763db 0%, #ba56ce 10%, #963cb9 75%, #400f53 100%);
	box-shadow: inset 0.2em 0.5em 1em 0 rgba(0, 0, 0, 0.33);
}



#backgammon-button {
	font-family: 'Tilt Prism', cursive;
	font-size: 0.85em;

	padding: 0.4em 0.4em;

	background-color: rgb(235, 222, 187);
	color: rgb(141, 66, 47);

	border: 0.5em double rgb(146, 58, 17);
	border-radius: 0.1em;

	transition: transform 0.15s ease-in-out;
}
#backgammon-button:hover {
	transform: scale(158%);
}
#backgammon-button:active {
	filter: brightness(110%);
}



#battleship-button {
	font-family: Impact, 'Anton', serif;
	font-size: 1.25em;

	padding: 0.18em 1.2em 0.18em 0.39em;
	
	background-color: #c9c9c9;
	color: #2c2c2c;

	border-style: solid solid solid ridge;
	border-width: 0.15em 0.075em 0.15em 0.45em;
	border-radius: 1px 50% 50% 1px;
	border-color:#ebebeb;

	text-transform: uppercase;
}
#battleship-button:hover {
	background-color: #b3b3b3;
}
#battleship-button:active {
	background-color: #888888;
}



#connect-four-button {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.1em;
	
	height: 2em;
	padding: 0 1em;
	
	background-color: #b80d0d;
	color: white;
	
	border-style: none;
	border-radius: 1em;
	
	transition: box-shadow 0.15s;
}
#connect-four-button:hover {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
#connect-four-button:active {
	transform: translateY(0.2em);
}



#hello-world-button {
	font-family: 'Consolas', 'Fira Code', monospace;
	font-size: 1em;

	height: 50px;
	width: 120px;

	background-color: black;
	--text-color: white;
	color: var(--text-color);

	border: none;
}
#hello-world-button::after {
	content: "|";
	color: transparent;
}
#hello-world-button:hover::after {
	animation: typing 1.06s linear infinite;
}
#hello-world-button:active {
	--text-color: #00FF00;
}
@keyframes typing {
	0%	{ color: var(--text-color) }
	49.99%	{ color: var(--text-color) }
	50% { color: transparent }
	100% { color: transparent }
}



#idea-generator-button {
	font-family: 'Brush Script MT', 'Seaweed Script', cursive;
	font-size: 1.3em;

	padding: 0.25em 0.25em;
	
	background-color: #f3ece1;
	color: navy;

	border-style: dotted;
	border-color: #bea67e;

	transition:
		padding 0.2s,
		filter 0.1s;
}
#idea-generator-button:hover {
	padding-left: 1.25em;
	padding-right: 1.25em;
}



#game-compilation-button {
	font-size: 1.5em;
	font-family: 'Arial Rounded MT Bold', 'Arial', sans-serif;

	background: linear-gradient(to right, red, yellow, lime, cyan, blue, magenta, red);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	background-size: 50%;

	border-style: none;
}
#game-compilation-button:hover {
	animation: rainbow 3s linear infinite;
}
#game-compilation-button:active {
	transform: translateY(0.2em);
}
@keyframes rainbow {
	0% { background-position: 0% }
	100% { background-position: 100% }
}



#snake-button {
	font-family: 'Pixelify Sans', cursive;
	font-size: 1em;

	padding: 0.5em 1em;

	background-color: #4b8bbe;
	color: #ffe873;

	border: 5px solid #306998;
}
#snake-button:hover {
  animation: snake-movement 3s linear infinite;
}
#snake-button:active {
	color: #ffd43b;
}
@keyframes snake-movement {
	0%			{ padding: 0.5em 1em; }
	6.25%		{ padding-top: 1em;	padding-bottom: 0;		padding-left: 1em;	padding-right: 1em; }
	18.75%	{ padding-top: 1em;	padding-bottom: 0;		padding-left: 0;		padding-right: 2em; }
	31.25%	{ padding-top: 0;		padding-bottom: 1em;	padding-left: 0;		padding-right: 2em; }
	43.75%	{ padding-top: 0;		padding-bottom: 1em;	padding-left: 1em;	padding-right: 1em; }
	56.25%	{ padding-top: 1em;	padding-bottom: 0;		padding-left: 1em;	padding-right: 1em; }
	68.75%	{ padding-top: 1em;	padding-bottom: 0;		padding-left: 2em;	padding-right: 0; }
	81.25%	{ padding-top: 0;		padding-bottom: 1em;	padding-left: 2em;	padding-right: 0; }
	93.75%	{	padding-top: 0;		padding-bottom: 1em;	padding-left: 1em;	padding-right: 1em; }
	100%		{ padding: 0.5em 1em; }
}





#glossy-buttons .glossy-button {
	font-size: 22px;
	--height: 2.25em;
	--width: 11em;
	--top-color: gray;
	--bottom-color: gray;
	
	position: relative;
	
	font-family: "Bauhaus 93", sans-serif;
	
	height: var(--height);
	width: var(--width);
	border-radius: calc(var(--height) / 2);
	
	color: color-mix(in srgb, var(--top-color) 20%, black);
	background: linear-gradient(to bottom,
		var(--top-color),
		var(--bottom-color));
	
	border: 1px solid var(--top-color);
	box-shadow: 0 0.2em 0.4em rgb(0, 0, 0, 0.33);
	text-shadow: 0 0.03125em rgb(255, 255, 255, 0.67);
}

#glossy-buttons .glossy-button::after {
	content: '';
	position: absolute;
	
	top: 0;
	left: calc(var(--height) / 4);
	height: 50%;
	width: calc(100% - var(--height) / 4 * 2);
	border-radius: calc(var(--height) / 4);
	
	background: linear-gradient(to bottom,
		rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0.2));
}

#glossy-buttons .glossy-button:hover {
	filter: hue-rotate(30deg);
}

#glossy-buttons .glossy-button:active {
	transform: translateY(0.067em);
	box-shadow: 0 0.067em 0.2em rgb(0, 0, 0, 0.5);
}

#glossy-buttons #blue-glossy-button {
	--top-color: hsl(240deg, 100%, 50%);
	--bottom-color: hsl(190deg, 100%, 50%);
}

#glossy-buttons #green-glossy-button {
	--top-color: hsl(120deg, 100%, 25%);
	--bottom-color: hsl(90deg, 100%, 50%);
}

#glossy-buttons #red-glossy-button {
	--top-color: hsl(0deg, 100%, 50%);
	--bottom-color: hsl(310deg, 100%, 67%);
}





.push-button {
	--diameter: 250px;
	--light-color: #DDD;
	--dark-color: #AAA;
	
	position: relative;
	width: var(--diameter);
	height: var(--diameter);
	border-style: none;
	border-radius: 50%;
	background-color: transparent;
}

.push-button > * {
	position: absolute;
	border-radius: 50%;
}

.push-button-frame-outer {
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom,
		color-mix(in srgb, var(--light-color) 50%, white),
		color-mix(in srgb, var(--dark-color) 90%, black));
}

.push-button-frame-middle {
	top: 1%;
	left: 1%;
	width: 98%;
	height: 98%;
	background:
		radial-gradient(ellipse
			calc(var(--diameter) * 0.90)
			calc(var(--diameter) * 0.55) at 50% -1.96%,
			rgba(255, 255, 255, 0.1),
			rgba(255, 255, 255, 0.7) 100%, transparent 100%),
		linear-gradient(to bottom,
			var(--light-color),
			var(--dark-color));
}

.push-button-frame-inner {
	top: 11.5%;
	left: 11.5%;
	width: 77%;
	height: 77%;
	background: linear-gradient(to bottom,
		var(--dark-color),
		var(--light-color));
}

.push-button-button-outer {
	top: 12.5%;
	left: 12.5%;
	width: 75%;
	height: 75%;
	background: linear-gradient(to bottom,
		color-mix(in srgb, var(--light-color) 50%, white),
		color-mix(in srgb, var(--dark-color) 90%, black));
}

.push-button:active .push-button-button-outer {
	top: 13.5%;
	left: 13.5%;
	width: 73%;
	height: 73%;
}

.push-button-button-middle {
	top: 13.5%;
	left: 13.5%;
	width: 73%;
	height: 73%;
	background:
		radial-gradient(ellipse
			calc(var(--diameter) * 0.90)
			calc(var(--diameter) * 0.55) at 50% -19.21%,
			rgba(255, 255, 255, 0.1),
			rgba(255, 255, 255, 0.7) 100%, transparent 100%),
		linear-gradient(to bottom,
			var(--light-color),
			var(--dark-color));
}

.push-button:active .push-button-button-middle {
	top: 14.5%;
	left: 14.5%;
	width: 71%;
	height: 71%;
	background:
		radial-gradient(ellipse
			calc(var(--diameter) * 0.90)
			calc(var(--diameter) * 0.55) at 50% -23.27%,
			rgba(255, 255, 255, 0.1),
			rgba(255, 255, 255, 0.7) 100%, transparent 100%),
		linear-gradient(to bottom,
			var(--light-color),
			var(--dark-color));
}





.play-button {
	position: relative;
	font-size: 3em;
	width: 2em;
	height: 1.5em;
	border-style: none;
	border-radius: 45%;
	background: linear-gradient(to bottom, var(--bg-color-dark), var(--bg-color-light));
	color: white;
	text-shadow: 0 -1px rgb(0, 0, 0, 0.8);
	box-shadow: 0px 0.05em 0.2em -0.1em rgb(0, 0, 0, 0.5);
}

.play-button::after {
	position: absolute;
	content: '';
	
	height: 60%;
	width: calc(100% - 0.24em);
	top: 0.01em;
	left: 0.12em;
	border-radius: 50%;
	background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
}
.play-button:hover {
	filter: hue-rotate(30deg);
}

.play-button:active {
	transform: translateY(0.1em);
}

#play-button-1 {
	--bg-color-light: cyan;
	--bg-color-dark: blue;
}

#play-button-2 {
	--bg-color-light: lime;
	--bg-color-dark: green;
}

#play-button-3 {
	--bg-color-light: yellow;
	--bg-color-dark: orange;
}





#outset-button-panel,
#gradient-button-panel,
#glossy-button-panel {
	height: 3em;
	flex: 1;
	display: flex;
	flex-direction: row;
	column-gap: 0.5em;
	align-items: center;
	justify-content: center;
}



#outset-button-panel, .outset-button {
	--color: hsl(0, 0%, 84%);
	--color-light: hsl(96, 12.5%, 95%);
	--color-dark: hsl(96, 12.5%, 28.3%);
	background-color: var(--color);
}

#outset-button-panel .outset-button {
	font-family: serif;
	border-color: var(--color-light) var(--color-dark) var(--color-dark) var(--color-light);
	border-style: solid;
	border-width: 2px;
	padding: 0.2em 0;
	width: 6em;
	cursor: unset;
}

#outset-button-panel .outset-button:active {
	border-color: var(--color-dark) var(--color-light) var(--color-light) var(--color-dark);
}



#gradient-button-panel {
	background-color: #e9e3df;
}

#gradient-button-panel .gradient-button {
	--inner-color: linear-gradient(to bottom,
		hsl(24, 24%, 96%) 5%,
		hsl(24, 38%, 95%) 10%,
		hsl(24, 53%, 88%) 90%,
		hsl(26, 29%, 76%) 95%);
	--outer-color: transparent;
	--outer-width: 3px;

	position: relative;
	font-family: sans-serif;
	background: var(--inner-color);
	border: 1px solid black;
	border-radius: 3px;
	padding: 0.25em 0;
	width: 5.5em;
	cursor: unset;
}

#gradient-button-panel .gradient-button::after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	height: calc(100% - var(--outer-width) * 2);
	width: calc(100% - var(--outer-width) * 2);
	border: var(--outer-width) solid var(--outer-color);
	border-radius: 3px;
}

#gradient-button-panel .gradient-button:focus {
	--outer-color: #a1c1f7;
}

#gradient-button-panel .gradient-button:hover,
#gradient-button-panel .gradient-button:focus:hover {
	--outer-color: #f5be5e;
}

#gradient-button-panel .gradient-button:active {
	--inner-color: linear-gradient(to bottom,
		hsl(24, 19%, 86%) 5%,
		hsl(24, 33%, 85%) 10%,
		hsl(24, 48%, 78%) 90%,
		hsl(26, 24%, 66%) 95%);
}



#glossy-button-panel {
	background-color: #f1f1f1;
}

#glossy-button-panel .glossy-button {
	position: relative;
	font-family: sans-serif;
	background: linear-gradient(#f8f8f8, #e7e7e7 50%, #d4d4d4 50%, #c5c5c5);
	border: 1px solid #fafafa;
	outline: 1px solid #929292;
	border-radius: 3px;
	padding: 0.15em 0;
	width: 5.75em;
	cursor: unset;
	transition: filter 0.3s, border-color 0.3s;
}

#glossy-button-panel .glossy-button:focus,
#glossy-button-panel .glossy-button:hover {
	background: linear-gradient(#f4f8fb, #d6e7f1 50%, #bedcf1 50%, #97c3e2);
}

#glossy-button-panel .glossy-button:focus {
	border-color: #2dceff;
}

#glossy-button-panel .glossy-button:focus:hover {
	border-color: #f3f3f3;
}

#glossy-button-panel .glossy-button:active {
	filter: brightness(88%);
}



#aliens-and-asteroids-button {
	font-family: 'Pixelify Sans';
	background-color: #6c3d7a;
	color: white;
	border: 3px outset #804b91;
	font-size: 1.1em;
	padding: 0.2em 0.8em;
}

#aliens-and-asteroids-button:active {
	border-style: inset;
}



#limit-button {
	--color1: #fc6652;
	--color2: #fff495;
	
	font-family: 'Fira Code';
	color: #3f2a02;
	padding: 0.33em 0.67em;
	background: radial-gradient(var(--color2), var(--color1));
	border: 3px ridge #b60606;
	transition: padding 0.1s;
}

#limit-button:hover {
	background: radial-gradient(var(--color2) 33%, var(--color1));
}

#limit-button:active {
	padding-top: 0.55em;
	padding-bottom: 0.11em;
}



#derivative-button {
	--color1: #c0ceec;
	--color2: #9e9ce4;

	font-family: 'Fugaz One';
	color: #072d52;
	background: linear-gradient(135deg, var(--color1), var(--color2));
	border: 9px double #746daf;
	outline: 3px solid var(--color1);
	outline-offset: -6px;
	text-shadow: -2px 2px #959697;
	padding: 0.33em 0.67em;
	transition: border 0.65s, outline 0.65s;
}

#derivative-button:hover {
	border-color: #e3daeb;
	outline-color: var(--color2);
}

#derivative-button:active {
	background: linear-gradient(-45deg, var(--color1), var(--color2));
}



#integral-button {
	--color1: #ddfd67;
	--color2: #f5ffb9;
	
  font-family: "Playwrite MX", cursive;
  font-optical-sizing: auto;
	color: #343611;
	padding: 0.33em 0.67em;
	box-shadow: inset 0.2em 0.2em 0.33em #80808080;
	background: radial-gradient(var(--color2), var(--color1));
	border-radius: 100%;
	border: 3px solid #819637;
	transition: color 0.5s;
}

#integral-button:hover {
	color: #a7ac46;
}

#integral-button:active {
	color: #f0f1db;
}