#factories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.5em;
}

#cash {
  margin-top: 0;
  margin-bottom: 0;
}

.inventory {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

button.hidden {
  display: none;
}

button.invisible {
  visibility: hidden;
}

.buy-buttons button::after {
  content: ' ($' attr(data-cost) ')';
}

.buy-buttons button[data-cost="0"]::after {
  content: ' (Free)';
}

.buy-buttons button.bought::after {
  content: ' (Bought)';
}



#game {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5em;
  margin-top: 3em;
  margin-bottom: 2em;
}

.factory {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.production {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: clamp(11em, 75%, 13em);
}

@media (max-width: 660px) {
  .production {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0.33em;
  }
}

.buy-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.67em;
}

.buy-buttons .upgrades {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}