#game {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5em;
  margin-top: 1.67em;
  margin-bottom: 2em;
}

#factories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.5em;
}

.factory {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.buy-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.67em;
}

.buy-buttons .upgrades {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}



label {
  margin-right: 1em;
}

input {
  width: 5em;
}

#cash {
  width: 9em;
}

.heading {
  margin: 0;
}

.hidden {
  visibility: hidden;
}



.buy-buttons button.hidden {
  visibility: hidden;
  display: none;
}

.buy-buttons button::after {
  content: ' ($' attr(data-cost) ')';
}

.buy-buttons button[data-cost="0"]::after {
  content: ' (Free)';
}

.buy-buttons button.bought::after {
  content: ' (Bought)';
}