#game {
  display: grid;
  gap: 1.5em;
  margin-top: 1.67em;
  margin-bottom: 2em;
}

#assets {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

#factories {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  column-gap: 0.5em;
}

.factory {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.buy-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.67em;
}

.buy-buttons .upgrades {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}



label {
  margin-right: 1em;
}

input {
  width: 5em;
}

#cash {
  width: 13em;
}

.heading {
  margin: 0;
}

.hidden {
  visibility: hidden;
}



.buy-buttons button.hidden {
  visibility: hidden;
  display: none;
}

.buy-buttons button.bought::after {
  content: ' (Bought)';
}